
.colorblue {
    color: #2596be;
}

.mecp {
    display: flex;
    justify-content: center;
    margin-top: 3rem;  
}

.mecp-logo {
  width: 80px;
  height: auto;
  margin-right: 20px;
  margin-top: 40px;
 }

.mecp-comingsoon {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 80px;
  height: auto;
  /* width: 100%; */
  /* height: 100vh; */
}


.mecp-card {
    width: 210px;
    height: 254px;
    border-radius: 4px;
    background: #ffffff00;
    display: flex;
    gap: 5px;
    padding: .4em;
  }
  
  .mecp-card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #ffffff00;
    border: 1px solid #2596be;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mecp-card p:hover {
    flex: 4;
  }
  
  .mecp-card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #2596be;
    letter-spacing: .1em;
  }
  
  .mecp-card p:hover span {
    transform: rotate(0);
  }