.upgrade-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: -2rem;
}

.upgrade-notifications-container {
    width: 736px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .upgrade-flex {
    display: flex;
  }
  
  .upgrade-flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .upgrade-success {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(240 253 244);
  }
  
  .upgrade-succes-svg {
    color: rgb(74 222 128);
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .upgrade-success-prompt-wrap {
    margin-left: 0.75rem;
  }
  
  .upgrade-success-prompt-heading {
    font-weight: bold;
    color: rgb(22 101 52);
  }
  
  .upgrade-success-prompt-prompt {
    margin-top: 0.5rem;
    color: rgb(21 128 61);
  }
  
  .upgrade-success-button-container {
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  
  .upgrade-success-button-main {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ECFDF5;
    color: rgb(22 101 52);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none
  }
  
  .upgrade-success-button-main:hover {
    background-color: #D1FAE5;
  }
  
  .upgrade-success-button-secondary {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.75rem;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.375rem;
    border: none;
  }
  