 /*
   * Build and Run v.2.0.2 CSS.
   *
   * Note: The corresponding styles are in the ./projects/debit-card.css file.
   */


   .chip {
    width: 50px;
    height: auto;
    margin-right: 20px;
    margin-top: 40px;
   }
   .free-trials {
    color: green;
   }
   .debit-update-icon {
    margin-top: 0.5rem;
   }

   .debit-card-object {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
   }

   .debit-hover-over {
    margin-top: 1rem;
    font-size: small;
   }
   
   .debit-return {
    margin-top: 5rem;
   }

   .debit-display-address {
    margin-top: 1rem;
   }

   input[type=button] {
    font-weight: bold;
    border-radius: 1.1em;
    background-color: #212121;
    color: white;
    padding: 0.5em 1em;
   }

   /* DEBIT CARD OBJECT  */

   .debit-flip-card {
    background-color: transparent;
    width: 240px;
    height: 154px;
    perspective: 1000px;
  }
  
  .debit-heading {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.5em;
    top: 2em;
    left: 18.6em;
    color: rgb(255, 255, 255);
  }

  .debit-number {
    position: absolute;
    font-weight: bold;
    font-size: .6em;
    top: 8.3em;
    left: 1.6em;
    color: rgb(255, 255, 255);
  }
  
  .debit-valid_thru {
    position: absolute;
    font-weight: bold;
    top: 635.8em;
    font-size: .01em;
    left: 140.3em;
    color: rgb(255, 255, 255);
  }
  
  .debit-date {
    margin-top: 2px;
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 13.6em;
    left: 3.2em;
    color: rgb(255, 255, 255);
  }
  
  .debit-name {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 16.1em;
    left: 2em;
    color: rgb(255, 255, 255);
  }
  
  .debit-logo {
    position: absolute;
    top: 6.8em;
    left: 11.7em;
  }
  
  .debit-chip {
    position: absolute;
    top: 2.3em;
    left: 1.5em;
  }
  
  .debit-contactless {
    position: absolute;
    top: 3.5em;
    left: 12.4em;
  }
  
  .debit-strip {
    position: absolute;
    background-color: black;
    width: 15em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(
      45deg,
      #303030,
      #303030 10px,
      #202020 10px,
      #202020 20px
    );
  }
  
  .debit-mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 0.8em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
  }
  
  .debit-sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 0.8em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
  }
  
  .debit-code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    margin-top: -3px;
    color: black;
    font-size: small;
  }
  
  .debit-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .debit-flip-card:hover .debit-flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .debit-flip-card-front, .debit-flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .debit-flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
  }
  
  .debit-flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
    transform: rotateY(180deg);
  }
